:root {
  --main-font: Raleway;
  --accent-font: "STIX Two Text";
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  color: var(--text-color, #312a4e);
  background-color: var(--bg-color, #f3efec);
  font-family: var(--main-font, sans-serif);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.heading {
  font-family: var(--accent-font, sans-serif);
  font-size: 30px;
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
}


